<header>
  <nav class="navbar-custom navbar bg-body-tertiary">
    <div class="form-navbar container-fluid justify-content-start">
      <a href="/"><button class="btn btn-outline-success me-2" type="button">Inicio</button></a>
      <a href="http://localhost:8080/realTimeProducts"><button class="btn btn-outline-success me-2"
          type="button">Agregar Productos</button></a>
      <a href="http://localhost:8080/chat"><button class="btn btn-outline-success me-2" type="button">Chat</button></a>
      <a href="http://localhost:8080/carts/b899a746-9c62-4b19-90de-cfa22444cdea"><button
          class="btn btn-outline-success me-2" type="button"><img class="img-cart"
            src="../assets/shoppingcart_77968.png" alt="Carrito de compras"></button></a>
    </div>
  </nav>
</header>