<h1 class="h1Chat">Sala de chat</h1>
<div class="chat__container">
<div  class="messages__container">

</div class="divchat" >
    <form class="form__messages" action="">
        <label for="message">Escribe tu mensaje aquí</label>
        <input class="input__message" type="text" name="message" id="message" placeholder="Hola, ¿como estás?">
    <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
" rel="stylesheet">
<script src="chat.client.js"></script>