<h1 class="h1-products">Lista de Productos</h1>

<div id="validMemberMessage"></div>
<ul id="productList"></ul>
<div class="botones">
<a class="aBotonTiempoReal" href="http://localhost:8080/realTimeProducts" target="_self">
  <button class="botonTiempoReal">Productos en tiempo real</button>
</a>
<a class="aBotonTiempoReal" href="http://localhost:8080/chat" target="_self">
  <button class="botonTiempoReal">Sala de chat</button>
</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.client.js"></script>